@import url('https://rsms.me/inter/inter.css');
p,
h1,
h2,
a,
td,
input,
div,
button {
    text-align: center;
    font-family: inter;
    color: white;
    font-feature-settings: "ss01";
    letter-spacing: -0.5px;
}

body {
    height: 100vh;
    margin: 0;
}

html {
    background-color: black;
}

.hoverfancy {
    transition: all 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.hoverfancy:hover {
    transform: scale(1.14) !important;
}

.hoverfancy:active {
    transform: scale(1.07) !important;
}

input {
    text-align: left;
    color: white;
    font-feature-settings: "ss01";
    letter-spacing: -0.5px;
    font-size: 16px;
    height: 24px;
    background-color: #ffffff22;
    border-color: transparent;
    border-radius: 8px;
    text-indent: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

a {
    -webkit-tap-highlight-color: transparent;
}

button {
    font-family: inter;
    color: white;
    font-feature-settings: "ss01";
    letter-spacing: -0.5px;
    font-size: 16px;
    height: 28px;
    /* padding: 15px; */
    background-color: #ffffff22;
    border-color: transparent;
    border-radius: 8px;
}