<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>emotes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <div id="sidebar-info">
            <img id="sidebar-info__image" src="/pingsock?size=128">
            <h2 id="sidebar-info__title">Ping Sock</h2>
            <h4 id="sidebar-info__desc">/pingsock</h4>
        </div>

        <div class="header">
            <h1>emotes</h1>
        </div>

        <!--this is only done because stemngy is too lazy to add a css file-->
        <style>
            body {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }
            #sidebar-info {
                top: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                background-color: black;
                color: white;
                float: left;
                animation-name: open;
            }
        </style>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
