#from flask import url_for

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>emotes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="${url_for('static', filename='style/cy2basicstyle.css')}">
</head>

<body>

    <div class="content">
    $content
    </div>

</body>

</html>
