{% extends "ui/base.html" %} {% block content %}
<h1 style="margin: 0; padding-top: 32px; padding-bottom: 16px;">local emotes</h1>
<style>
    /* .emotediv:hover p { */
    /* display: block !important; */
    /* opacity: 1 !important; */
    /* } */
    /* .emotediv:hover {
        position: absolute;
    } */
    
    @keyframes float {
        0% {
            filter: blur(12px);
        }
        100% {
            filter: blur(24px);
        }
    }
    
    .hasfloat {
        animation-name: float;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease;
        filter: blur(12px);
    }
</style>
<div id="emote-view">

    <div id="emote-list" style="margin-bottom: 32px;">
        {% for i in local_emotes %}
        <!-- <img src="/{{ i.slug }}" onclick="
              document.getElementById('sidebar-info').style.width = '300px';
              document.getElementById('sidebar-info__image').src = '/{{ i.slug }}' + '?size=128'
              document.getElementById('sidebar-info__title').innerHTML = '{{ i.name }}';
              document.getElementById('sidebar-info__desc').innerHTML = '{{ domain }}{{ i.slug }}';
              document.getElementById('sidebar-info__desc').href = '{{ domain }}{{ i.slug }}'
          " /> -->
        <div class="emotediv" onclick="
        document.getElementById('sidebar-info').style.width = '300px';
        document.getElementById('sidebar-info__image').src = '/{{ i.slug }}' + '?size=128'
        document.getElementById('sidebar-info__title').innerHTML = '{{ i.name }}';
        document.getElementById('sidebar-info__desc').innerHTML = '{{ domain }}{{ i.slug }}';
        document.getElementById('sidebar-info__desc').href = '{{ domain }}{{ i.slug }}'" style="display: inline-block; padding: 32px; border-radius: 8px;"><img class="hoverfancy" style="position: absolute; z-index: 5;" src="/{{ i.slug }}"><img class="hasfloat" style="animation-delay: {{loop.index*0.1}}s;" src="/{{ i.slug }}">
            <!-- <p>{{ i.name }}<br><a href="{{ domain }}{{ i.slug }}">{{ domain }}{{ i.slug }}</a></p> -->
        </div>
        {% endfor %}
    </div>
    <div id="sidebar-info" style="margin-left: auto; margin-right: auto;">
        <img id="sidebar-info__image">
        <h2 id="sidebar-info__title"></h2>
        <a id="sidebar-info__desc"></h4>
    </div>
</div>

{% endblock %}