{% extends "ui/base.html" %}

{% block content %}
<h1>local emotes</h1>

<div id="emote-view">
  <div id="sidebar-info">
      <img id="sidebar-info__image">
      <h2 id="sidebar-info__title"></h2>
      <a id="sidebar-info__desc"></h4>
  </div>

  <div id="emote-list">
      {% for i in local_emotes %}
          <img src="/{{ i.slug }}" onclick="
              document.getElementById('sidebar-info').style.width = '300px';
              document.getElementById('sidebar-info__image').src = '/{{ i.slug }}' + '?size=128'
              document.getElementById('sidebar-info__title').innerHTML = '{{ i.name }}';
              document.getElementById('sidebar-info__desc').innerHTML = '{{ domain }}{{ i.slug }}';
              document.getElementById('sidebar-info__desc').href = '{{ domain }}{{ i.slug }}'
          "/>
      {% endfor %}
  </div>
</div>

{% endblock %}
